<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>會員介面</div>
    <form action="/logout">
        <input type="submit" value="登出">
    </form>
    <a href="/C05_4_1">會員資料修改</a>
    <table>
        <thead>
            <th>#</th>
            <th>訂單編號</th>
            <th>會員編號</th>
            <th>下訂日期</th>
            <th>需求</th>
            <th>狀態</th>
            <th>圖片</th>
          
        </thead>
        <tbody>
            <% data.forEach((item ,index) => { %> <!--forEach迴圈顯示資料庫內容-->
                <% var cuYY = item.cust_upload_date.getFullYear()%>
                <% var cuMM = (item.cust_upload_date.getMonth())+1%>
                <% var cuDD = item.cust_upload_date.getDate()%>
                <% var cuHr = item.cust_upload_date.getHours()%>
                <% var cuMi = item.cust_upload_date.getMinutes()%>
                <tr>
                    <td><%= index+1%></td> <!--編號 -->
                    <td><%= item.cust_id%></td> 
                    <td><%= item.m_id%></td>
                    <td><%= `${cuYY}年${cuMM}月${cuDD}日${cuHr}點${cuMi}分` %></td>
                   
                    <td><%= item.cust_form%></td>
                    <td><%= item.cust_state%></td>
                    <td><a href=<%= `/picture/${item.picture}` %>>圖片</a></td>
                    <!-- 有權限 -->
                    
                </tr>
            <% }) %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" style="text-align: center;">
                    <% for(var i = 1; i <= last_page; i++) { %>
                    <span ><a href="/<%= i%>"><%= i%></a></span>
                    <% } %>
                </td colspan="2">
                <td><p>總數 <%= total_nums%> 筆，共 <%= curr_page%>/<%= last_page%> 頁</p></td>
            </tr>
        </tfoot>
    </table>
</body>
</html>