<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主題蛋糕頁</title>
    <link rel="stylesheet" href="../css/main_ginnychen19.css">
    <link rel="stylesheet" href="../css/permanentCake.css">
    <script src="../js/jquery-3.6.0.js"></script>
</head>

<body>
    <nav>
        <p>我是Navbar</p>
    </nav>
    <div class="Our-newAD">
        <h4>我是廣告區</h4>
    </div>


    <div id="permanentCake">
        <table class="PMCake_table">
            <thead>
                <th>主題蛋糕</th>
            </thead>
            <tbody class="list">
                <tr>
                    <td><a href="/C01/0">2023季節主打</a></td>
                </tr>
                <tr>
                    <td><a href="/C01/1">彌月蛋糕系列</a></td>
                </tr>
                <tr>
                    <td><a href="/C01/2">重乳酪</a></td>
                </tr>
                <tr>
                    <td><a href="/C01/3">生乳捲</a></td>
                </tr>
                <tr>
                    <td><a href="/C01/4">配件區</a></td>
                </tr>

            </tbody>
        </table>

        <!--這個地方之後可以串，然後要用ejs-->
        <div class="PMCake_show">
            <div class="PMCake_show_content">
                <h6><%= c_class %></h6>
                <p>主題蛋糕 / <%= c_class %></p>
            </div>
            <div class="PMCake_show_commodity">
                <% data.forEach((item,index)=>{%>
                <div class="commodity_item">
                    <div>
                        <a href="/C01_2/<%= item.c_id %>">
                            <img src="../Source/IMG/<%= item.img_name %>" alt="商品名稱">
                        </a>
                    </div>
                    <div>
                        <p><%= item.c_name %></p>
                        <p>NT.<%= item.price %></p>
                    </div>
                </div>
                <% }) %>
                


            </div>
        </div>
    </div>

    <footer>
        <p>&nbsp;</p>
    </footer>

    <script src="../js/permanentCake.js"></script>
</body>

</html>