<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/08-14.css">
    <link rel="stylesheet" href="../css/main_ginnychen19.css">
    <link rel="stylesheet" href="../css/BEndOrder.css">
    <!-- <script src="https://code.jquery.com/jquery-3.6.3.js"></script> -->
    <script src="../js/jquery-3.6.0.js"></script>

</head>

<body class="generalOrderPage" style="margin: 0;">
    <!-- 預留固定nav的位置 -->
    <div class="navtop"></div>
    <!-- 預留固定輪播的位置 -->
    <div class="slideshow-container"></div>
    <div class="generalOrder">
        <!-- 上面的選單 -->
        <div class="generalOrdernav">
            <ul>
                <!-- <li>會員資訊</li>
                <li class="Ordernavbuttom">我的訂單</li>
                <li>我的客製</li> -->
                <a href="/C05_4_1"><li>會員資訊</li></a>
                <a href="/C05_4/1"><li>我的訂單</li></a>
                <a href="/C05_4_2/1"><li>我的客製</li></a>
            </ul>
        </div>
        <!-- 下面的選單 -->
        <div class="generalOrderDataArea">
            <table>
                <thead>
                    <tr class="generaDatanav">
                        <td>訂單</td>
                        <td>下訂日期</td>
                        <td>預定日期</td>
                        <td>狀態</td>
                        <td>總計</td>
                        
                        <!-- <td>訂單</td> -->
                        <td>
                            <select class="generaDataselect">
                                <option value="">30日內訂單</option>
                                <option value="">60日內訂單</option>
                                <option value="">90日內訂單</option>
                            </select>
                        </td>
                    </tr>
                </thead>
                <% data.forEach((item ,index1) => { %>
                    <% var upYY = item.co_upload_date.getFullYear()%>
                    <% var upMM = (item.co_upload_date.getMonth())+1%>
                    <% var upDD = item.co_upload_date.getDate()%>
                    <% var upHr = item.co_upload_date.getHours()%>
                    <% var upMi = item.co_upload_date.getMinutes()%>
                    <% var puYY = item.pick_up_date.getFullYear()%>
                    <% var puMM = (item.pick_up_date.getMonth())+1%>
                    <% var puDD = item.pick_up_date.getDate()%>
                    <% var puHr = item.pick_up_date.getHours()%>
                    <% var puMi = item.pick_up_date.getMinutes()%>
                <tbody>
                    <tr class="generaDatalist">
                        <td>#<%= item.o_id%></td>
                        <td><%= `${upYY}年${upMM}月${upDD}日${upHr}時${upMi}分` %></td>
                        <td><%= `${puYY}年${puMM}月${puDD}日${puHr}時${puMi}分` %></td>
                        <td><%= item.co_state%></td>
                        <td>NT.<%= item.order_total%></td>
                        <td><%= item.payment %></td>
                        <!-- <td><button class="cancelbutton">申請取消</button></td> -->
                        <td><button class="show_details_btn">訂單詳細 +</button></td>
                    </tr>
                    <tr class="showgeneraDatalist hide">
                        <td colspan="6">
                            <div>
                                <table class="Detail">
                                    <thead>
                                        <tr>
                                            <td>訂購內容</td>
                                            <td>數量</td>
                                            <td>單價</td>
                                            <td>小計</td>
                                            <td>付款方式</td>
                                            <td>取貨方式</td>
                                           
    
                                        </tr>
                                    </thead>
                                    <% var i = 1 %>
                                    <% order_D.forEach((o_item ,index2) => { %>    
                                        <% if(item.o_id===o_item.o_id){  %>
                                           
                                            <!-- <tbody>
                                                <tr>
                                                    <td>
                                                    <%= o_item.c_name%>
                                                    </td>
                                                    <td><%= o_item.quantity %></td>
                                                    <td><%= o_item.price%></td>
                                                    <td><%= o_item.total%></td>
                                                    
                                                    <td ><%= item.pickup_method%><br>宅配地址<br>台中市南屯區公益路18號 </td>
                                                    
                                                  
                                                </tr>
                                            </tbody> -->
                                    <tbody>
                                        <tr>
                                            <td><%= o_item.c_name%> </td>
                                            <td><%= o_item.quantity %> </td>
                                            <td>NT.<%= o_item.price%></td>
                                            <td>NT.<%= o_item.total%></td>
                                            <% if(i == 1 ) { %>
                                            <td><%= item.payment %></td>
                                            <td><%= item.pickup_method%><br>宅配地址<br>台中市南屯區公益路18號 </td>
                                            <!-- <td><button class="cancelbutton">申請取消</button></td> -->
                                            <% i = 0%>
                                            <% }%>
                                        </tr>
                                    </tbody>

                                    <% }%>
                                    <% }) %>
                                    
                                
                                </table>
                     
                            </div>
                           
                      
                        </td>
                           
                    </tr>
                </tbody>
                <% }) %>
                <!-- <tbody>
                    <tr class="generaDatalist">
                        <td>#123456</td>
                        <td>23.01.30</td>
                        <td>23.02.16</td>
                        <td>未製作</td>
                        <td>NT.1280</td>
                        <td><button class="show_details_btn">訂單詳細 +</button></td>
                    </tr>
                    <tr class="showgeneraDatalist hide">
                        <td colspan="6">
                            <div>
                                <table class="Detail">
                                    <thead>
                                        <tr>
                                            <td>訂購內容</td>
                                            <td>單價</td>
                                            <td>付款方式</td>
                                            <td>取貨方式</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>黑森林蛋糕10吋</td>
                                            <td>NT.500</td>
                                            <td>信用卡</td>
                                            <td>冷凍宅配-NT180<br>宅配地址<br>台中市南屯區公益路18號 </td>
                                            <td><button class="cancelbutton">申請取消</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody> -->
                
            </table>

        </div>
    </div>


    <!-- 預留固定footer的位置 -->
    <div class="footer"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        /*開細節按鈕用的*/
        //console.log($(".show_details_btn"));
        $(".show_details_btn").click(function () {
            //console.log($(this).parent().parent().next())
            const showgeneraDatalist = $(this).parent().parent().next();
            $(showgeneraDatalist).toggleClass('hide');


            /*為了讓細節表格-取貨方式、付款方式、按鈕可以維持置中所寫的*/
            const RowspanNub = $(showgeneraDatalist).find("tbody>tr").length;
            const tdRowspan = $(showgeneraDatalist).find("tbody>tr").eq(0).children().eq(1).nextAll();
            tdRowspan.each(function (ind, elem) {
                //console.log(ind, elem);
                $(elem).attr({
                    "rowspan": RowspanNub,
                });
            })

        })
    </script>

</body>

</html>