<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery-3.6.0.js"></script>
    <script src="js/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="css/jquery.modal.min.css" />
    <title>首頁</title>
</head>
<body>
 
    <% if(!session.user) { %>  <!-- 如果沒登入(沒session.user) -->
    <a href="/login">登入</a>
    <% }else if(session.user.rights) { %>
    <a href="/add">管理表單</a> <a href="/C05_3/1">客製化表單</a>
    <% } %>

    <form action="/logout">
        <input type="submit" value="登出">
    </form>
    <table>
        <thead>
            <th>#</th>
            <th>訂單編號</th>
            <th>會員編號</th>
            <th>下訂日期</th>
            <th>取貨日期</th>
            <th>蛋糕名稱</th>
            <th>數量</th>
            <th>狀態</th>
            <th>取貨方式</th>
            <th>備註</th>
        </thead>
        <tbody>
            <% data.forEach((item ,index) => { %> <!--forEach迴圈顯示資料庫內容-->
                <% var upYY = item.co_upload_date.getFullYear()%>
                <% var upMM = (item.co_upload_date.getMonth())+1%>
                <% var upDD = item.co_upload_date.getDate()%>
                <% var upHr = item.co_upload_date.getHours()%>
                <% var upMi = item.co_upload_date.getMinutes()%>
                <% var puYY = item.pick_up_date.getFullYear()%>
                <% var puMM = (item.pick_up_date.getMonth())+1%>
                <% var puDD = item.pick_up_date.getDate()%>
                <% var puHr = item.pick_up_date.getHours()%>
                <% var puMi = item.pick_up_date.getMinutes()%>
                <tr>
                    <td><%= index+1%></td> <!--編號 -->
                    <td><%= item.co_id%></td> 
                    <td><%= item.m_id%></td>
                    <td><%= `${upYY}年${upMM}月${upDD}日${upHr}點${upMi}分` %></td>
                    <td><%= `${puYY}年${puMM}月${puDD}日${puHr}點${puMi}分` %></td>
                    <td><%= item.c_name%></td>
                    <td><%= item.quantity%></td>
                    <td><%= item.co_state%></td>
                    <td><%= item.method%></td>
                    <td><%= item.remark%></td>

                    <% if(!session.user) { %>  <!-- 如果沒登入(沒session.user)
                       <!-- 不做事 -->
                    
                    <% }else if(session.user.rights) { %> -->
                    <td>
                        <a href="#divEditData" rel="modal:open">
                            <button onclick="Edit(<%= item.id%>)">編輯</button>
                        </a>
                        <button onclick="Delete(<%= item.id%>)">刪除</button>
                    </td>
                    <% } %>
                </tr>
            <% }) %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" style="text-align: center;">
                    <% for(var i = 1; i <= last_page; i++) { %>
                    <span ><a href="/<%= i%>"><%= i%></a></span>
                    <% } %>
                </td colspan="2">
                <td><p>總數 <%= total_nums%> 筆，共 <%= curr_page%>/<%= last_page%> 頁</p></td>
            </tr>
        </tfoot>
    </table>
    

    <script>
        
        // function Edit(id) {
        //     $.ajax({
        //         url: "/detail/"+id, //獲得資料庫資料
        //         type: "GET",
        //         success: function(data) {
        //             var res = JSON.parse(data);
        //             $("input[name='id']").val(res.id)
        //             $("input[name='name']").val(res.name)
        //             $("input[name='phone']").val(res.phone)
        //             $("input[name='address']").val(res.address)
        //             $("input[name='adult_mask']").val(res.adult_mask)
        //             $("input[name='child_mask']").val(res.child_mask)
        //         },
        //         error: function() {
        //             alert("系統錯誤!")
        //         },
        //     })
        // }

        // function Delete(id) {
        //     $.ajax({
        //         url: "/delete",
        //         type: "POST",
        //         contentType: "application/json; charset=utf-8",
        //         data: JSON.stringify({"id": id}),
        //         success: function(res) {
        //             alert(res);
        //             location.reload();
        //         },
        //         error: function(err) {
        //             alert("Delete 系統錯誤! 請看log" );
        //             console.log(err);
        //         }
        //     })
        // }

        // $('#submit').on('click', function() {
            
        //     var data = $('#formEdit').serializeArray();

        //     var JSONData = {};
        //     for(index in data){
        //         JSONData[data[index].name] = data[index].value;
        //     }
                     
        //     $.ajax({
        //         url: "/update",
        //         type: "POST",
        //         contentType: "application/json; charset=utf-8",
        //         data: JSON.stringify(JSONData),
        //         success: function(res) {
        //             alert(res);
        //             location.reload(); //刷新
        //         },
        //         error: function() {
        //             alert("系統錯誤!")
        //         }
        //     })
        // })

    </script>
</body>
</html>