<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>菓季-購物車</title>
    <script src="js/jquery-3.6.0.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="css/ShoppingCar.css">

    <style>
        .mainPic {
            border-radius: 15px;
            width: 250px;
        }
    </style>
</head>

<body>
    <nav>
        <div>
            <a href="/"><img src="../Source/IMG/Logo.png" alt="Logo"></a>
            <a href="/">
                <p>菓季</p>
            </a>
        </div>
        <div id="navlist">
            <a href="/C01/0">
                <p>主題蛋糕</p>
            </a>
            <a href="/C02">
                <p>客製蛋糕</p>
            </a>
            <a href="/C03">
                <p>餡料食材介紹</p>
            </a>
            <a href="/C04">
                <p>常見問題</p>
            </a>
            <% if(!session.user) { %>
                <a href="/C05"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                    </svg></a>
                <% }else if(session.user.rights){%>
                    <a href="/C05_2/1"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                            fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                        </svg></a>
                    <%}else{%>
                        <a href="/C05_4/1"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                            </svg></a>
                        <%}%>
                            <a href="/C06"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                    fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                    <path
                                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                </svg></a>
        </div>
    </nav>
    <section id="ShoppingCar">
        <div id="Step">
            <div id="Step1">
                <div id="Step1_c" class="circle check">1</div>
                <p>選購商品</p>
            </div>
            <div id="Step2" class="uncheck">
                <div id="Step2_c" class="circle">2</div>
                <p>確認資料</p>
            </div>
            <div id="Step3" class=" uncheck">
                <div id="Step3_c" class="circle">3</div>
                <p>購物完成</p>
            </div>

        </div>
        <div id="Shopping_body">

            <div>
                <div>
                    <table id="ShoppingList">
                        <thead>
                            <tr>
                                <th></th>
                                <th>商品名稱</th>
                                <th></th>
                                <th>價格</th>
                                <th>數量</th>
                                <th>小計</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="tbody1">
                            <!-- 迴圈{ -->
                            <!-- <tr>
                                <td>
                                    <img src="https://dummyimage.com/100x100/54f291/fff" alt="商品圖">
                                </td>
                                <td>
                                    <p>商品名稱</p>
                                    <p>商品規格</p>
                                </td>
                                <td></td>
                                <td>
                                    <p>NT$350</p>
                                </td>
                                <td>
                                    <select>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                    </select>
                                </td>
                                <td>
                                    <span>$350</span>
                                </td>
                                <td>
                                    <button>刪除</button>
                                </td>
                            </tr> -->
                            <!-- } -->
                        </tbody>

                    </table>
                    <!-- <div id="transport">
                        <label>請選擇取件方式(請擇一)：</label>
                        <input type="radio" name="transport" value="來店自取" checked>來店自取
                        <input type="radio" name="transport" value="黑貓冷凍宅配">黑貓冷凍宅配
                    </div> -->
                </div>
                <div id="Shopping_Totle" class="total">
                    <h5>訂單總金額：</h5>
                    <h3 id="sum">NT$0</h3>
                </div>
                <div>
                    <a href=""><button class="btn_shp">回上頁繼續購物</button></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <% if(!session.user) { %>
                        <a href="/C05"><button class="btn_shp">登入</button></a>
                        <%} else{ %>
                            <button id="gopay" class="btn_shp">我要結帳</button>
                            <% } %>

                </div>
            </div>
        </div>
    </section>
    <!-- <form id="orderForm"> -->
    <a name="payorder"></a>
    <section id="Shopping_Pay" class="hidden">
        <div>
            <div>
                <label for="pay" class="title">付款方式</label>
                <select name="payment" class="text_W" id="pay">
                    <option value="銀行轉帳">銀行轉帳</option>
                    <option value="黑貓貨到付款">黑貓貨到付款</option>
                    <option value="來店付款">來店付款(限來店自取)</option>
                </select>
            </div>
            <div>
                <p>銀行代碼：822(中國信託)<br>
                    匯款帳號：015-203-745-369
                </p>
                <p>郵局代碼：700<br>
                    匯款帳號：7842-1953-7531-81
                </p>
                <p>銀行代碼：013(國泰世華)<br>
                    匯款帳號：1287-6942-0001-78
                </p>
                <br>
                <p>麻煩於匯款後告知您的訂單編號、匯款日期及匯款後五碼，非常感謝！</p>
            </div>
        </div>
    </section>



    <section id="Shopping_order" class="hidden">
        <div>

            <div id="orderer">
                <form id="orderForm">

                    <div>
                        <span class="title">訂購人資料</span>
                        <hr>
                    </div>
                    <div>

                        <label for="">姓名：</label>
                        <input name="m_name" class="text_W" type="text" placeholder="王小明" readonly required
                            value="<%=data.m_name %>"><br>

                    </div>
                    <div>
                        <label for="">連絡電話：</label>
                        <input name="phone" class="text_W" type="tel" placeholder="0900-000-000" readonly required
                            value="<%=data.phone %>">
                    </div>
                    <div>
                        <label for="">電子郵件：</label>
                        <input name="email" class="text_W" type="email" placeholder="請輸入電子信箱" readonly required
                            value="<%=data.email %>">
                    </div>
                    <div>
                        <label class="ordertitle">自取/宅配日期：</label>&nbsp;
                        <input type="radio" name="method" value="自取" checked>自取
                        <input type="radio" name="method" value="宅配">宅配
                        &nbsp;&nbsp;
                        <label for="">日期</label>
                        <input type="date" name="pickupDate" value="2023-03-20">
                        &nbsp;&nbsp;
                        <label for="">時間</label>
                        <select name="pickupTime">
                            <option value="11:00:00">上午</option>
                            <option value="13:00:00">下午</option>
                        </select>
                        <!-- <label for="">自取/宅配日期：</label>
                        <br>
                        <br>
                        <input type="radio" name="method" value="自取" checked>自取時間
                        <input type="radio" name="method" value="宅配">宅配時間
                        <div id="transport_S" class="">
                            <label for="">自取日期</label>
                            <input name="pickupDate" type="date" value="2023-02-20">
                            <br>
                            <br>
                            <label for="">自取時間</label>
                            <select name="pickupTime">

                                <option value="11:00:00" selected>11:00-13:00</option>
                                <option value="13:00:00">13:00-15:00</option>
                                <option value="15:00:00">15:00-17:00</option>
                                <option value="17:00:00">17:00-18:00</option>
                            </select>
                        </div>

                        <div id="transport_T">
                            <label for="">宅配日期</label>
                            <input name="pickupDate2" type="date">
                            <br>
                            <br>
                            <label for="">宅配時間</label>
                            <select name="pickupTime2">
                                <option value="11:00:00">11:00-11:30</option>
                                <option value="15:00:00">15:00-15:30</option>
                                <option value="17:00:00">17:00-17:30</option>
                            </select>
                        </div> -->
                    </div>

                    <div id="address">
                        <label for="">收件地址：</label><br>
                        <!-- <input type="text" class="address_input" placeholder="請輸入3+2郵遞區號" required> -->
                        <!-- <br> -->
                        <input name="rec_address" type="text" class="text_W" placeholder="請填入地址" required
                            value="<%=data.address %>">
                    </div>
                    <div>
                        <label for="">備註：</label>
                        <textarea name="remark" id="note" maxlength="100"></textarea>
                        <!-- <input name="remark" id="note" type="text" value="蠟燭年齡: ,紙盤數量: " placeholder="其他及宅配需求/若收件人非訂購人的話，請在這裡註明收件人姓名及地址。"
                            required> -->
                    </div>

                </form>

            </div>

            <div>
                <div id="hit">
                    <p class="title">訂購注意事項</p>
                    <hr>
                    <ul>
                        <li>客製蛋糕建議自取，蛋糕費用不含宅配，若需宅配細節請參考服務條款</li>
                        <li>黑貓宅配(不建議採用)，摔壞、無法如期抵達的風險且無法理賠</li>
                        <li>4吋高蛋糕尺寸與有鮮花裝飾之蛋糕不能宅配</li>
                        <li>菓季產品最晚一週前預訂 若有急件需求請來電洽詢 04-23265860</li>
                        <li>已確認之訂單，四日內無法更改時間或取消退費，五至七天內退款一半，八天前取消全額退費。</li>
                    </ul>
                </div>

            </div>
        </div>
        <div id="btn_pay">
            <div>
                <button onclick="history.back()" class="btn_shp">回上頁</button>

                <button class="btn_shp" id="buyItem">確認結帳</button>


            </div>
        </div>
    </section>
    <!-- </form> -->
    <section id="Shopping_success" class="hidden">
        <div id="Page_Succeed">
            <div id="meg_Succeed">
                <h1>訂購成功！</h1>
                <span>之後需要確認訂單內容，可至&nbsp會員專區>我的訂單&nbsp中查看。</span>
            </div>
            <div id="Succeed_list">
                <div>
                    <h1 id="orderID">訂單編號#</h1>
                    <h3 id="co_upload_date">訂單成立時間2023/02/15
                    </h3>
                </div>
                <div id="Succeed_body">
                    <table>
                        <thead>
                            <th colspan="3">訂購內容</th>
                            <th>單價</th>
                            <th>數量</th>
                            <th>小計</th>
                        </thead>
                        <tbody class="tbody2">
                            <!-- <tr>
                                <td>
                                    <img src="https://dummyimage.com/100x100/f58a7a/fff" alt="">
                                </td>
                                <td colspan="2">
                                    <span>
                                        商品名稱
                                    </span>
                                    <br>
                                    <span>
                                        商品詳情
                                    </span>
                                </td>
                                <td>NT$350</td>
                                <td >1</td>
                                <td>NT$350</td>
                            </tr> -->
                        </tbody>
                    </table>
                    <div>
                        <table>
                            <tr>
                                <td class="list_title">連絡電話：</td>
                                <td id="phone">0923-468-713</td>
                            </tr>
                            <tr>
                                <td class="list_title">電子郵件：</td>
                                <td id="email">helloworld@gmail.com</td>
                            </tr>
                            <tr>
                                <td class="list_title">付款方式：</td>
                                <td id="payment">來店付款</td>
                            </tr>
                            <tr>
                                <td class="list_title">取貨方式：</td>
                                <td id="method">來店取貨</td>
                            </tr>
                            <tr>
                                <td class="list_title">取貨時間：</td>
                                <td id="time"></td>
                            </tr>
                        </table>
                        <span class="list_title">訂單與取貨備註：</span>
                        <div class="textarea" id="remark">

                        </div>
                    </div>
                </div>
                <div class="Totle">
                    <h5>總金額：</h5>
                    <h3 id="total">NT$0</h3>
                </div>
            </div>

        </div>
        <a href="/"><button class="btn_shp">回到首頁</button></a>
    </section>
    <footer>
        <div id="footer">
            <div id="icon">
                <div>
                    <img id="footerLogo" src="./Source/IMG/Logo.png" alt="Logo" style="width: 100px;">
                    <a href="https://www.facebook.com/ispanTaipei" target="_blank"><img src="./Source/IMG/FB.png"
                            alt=""></a>
                    <a href="https://www.instagram.com/5gutlab_zicehui/" target="_blank"><img src="./Source/IMG/ig.png"
                            alt=""></a>
                    <a onclick="self.location.href='mailto:iservice@ispan.com.tw;'"><img src="./Source/IMG/mail.png"
                            alt=""></a>
                </div>
                <div>
                    <h4>訂購電話</h4>
                    <h6>04-23265860</h6><br>
                    <h4>營業時間</h4>
                    <h6>週二-週日10:00至19:00 每週一公休</h6><br>
                    <h4>地址</h4>
                    <h6>台中市南屯區公益路二段(國泰世華大樓18樓)</h6>
                </div>
            </div>
            <div>
                <small>Copyright © 2023 MFEE32 第一組. All rights reserved.</small>
            </div>
        </div>
    </footer>

    <script src="./js/_js/jquery-3.6.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="js/Shoppingcar.js"></script>

    <script>
        // $('input[name=transport]').on('click',function(){
        //      console.log($('input[name=transport]:checked').val())
        // })


        function doDel(index) {
            var newitem = JSON.parse(localStorage.getItem('carts'));
            newitem.splice(index, 1);
            console.log('new', newitem);
            localStorage.setItem("carts", JSON.stringify(newitem));
            location.href = '/C06';
            test();
        }

        function doChange(value, index) {
            var newitem = JSON.parse(localStorage.getItem('carts'));
            newitem[index].quantity = parseInt(value);
            console.log('new', newitem);
            localStorage.setItem("carts", JSON.stringify(newitem));
            // location.href = '/C06';
            doAjax();

        }

        function doAjax() {
            // $(function () {
            var newcarts = JSON.parse(localStorage.getItem('carts'));
            console.log(newcarts);
            $(".tbody1").empty();
            //    $(".tbody2").empty();
            if (newcarts) {
                var sum = 0;
                newcarts.forEach(function (e, index) {
                    var data = { name: e.name }
                    $.ajax({
                        url: "/buy", //cake.js 的buy頁 
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(data),
                        success: function (res) {
                            // console.log(typeof(JSON.parse(res)));
                            var cname = JSON.parse(res).c_name
                            var price = JSON.parse(res).price
                            var img = JSON.parse(res).img_name
                            var total = price * e.quantity;

                            //    $("tbody").append(`<tr><td>${cname}</td><td>${price}</td><td><input type="number" value="${e.quantity}" onchange="doChange(this.value,${index})" min="1" max="5" style ="width:50px"></td><td><button onclick="doDel(${index})">刪除</button> </td></tr>`);
                            $(".tbody1").append(`<tr>
                                <td>
                                    <img class='mainPic' src="Source/IMG/${img}" alt="商品圖">
                                </td>
                                <td>
                                    <p>${cname}</p>
                                    
                                </td>
                                <td></td>
                                <td>
                                    <p>NT$${price}</p>
                                </td>
                                <td>
                                    <select id=s1_${index} onchange="doChange(this.value,${index})" >
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </td>
                                <td>
                                    <span>$${total}</span>
                                </td>
                                <td>
                                    <button onclick="doDel(${index})" ><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                      </svg></button>
                                </td>
                            </tr>`);

                            $(`#s1_${index}`).children().each(function () {
                                if ($(this).text() == e.quantity) {
                                    //jQuery給法
                                    $(this).attr("selected", true); //或是給"selected"也可


                                }
                            });

                            // console.log(typeof(price))
                            // console.log(typeof(e.quantity))
                            sum += price * e.quantity;
                            // console.log(sum);
                            $('#sum').text(`NT$${sum}`);
                        },
                        error: function () {
                            alert("Add 系統錯誤!");

                        }
                    })
                }); //forE

            }

            // })
        }

        doAjax();
        $('#clr').on('click', function () {
            localStorage.removeItem('carts')
            location.href = '/C06';
        })
        $('#buyItem').on('click', function () {
            var buyItem = JSON.parse(localStorage.getItem('carts'));
            var data = $('#orderForm').serializeArray()
            console.log(data);
            var JSONData = {}

                <% if (!session.user) {  %>
           //沒登入就無視
       <% } else { %> //注意!!! 需先登入!!!!不然報錯!!!!!!    
                JSONData.m_id = <%= session.user.m_id %>
                    JSONData.item =  buyItem;
                JSONData.payment = $('#pay').val();
                for (index in data) {
                    JSONData[data[index].name] = data[index].value;
                }         
       <% } %>


                // console.log(JSONData.item[0].name) 
                $.ajax({
                    url: "/buyitem",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(JSONData),
                    success: function (res) {
                        // alert("ok");
                        localStorage.removeItem('carts')
                        console.log(JSON.parse(res))
                        var item = JSON.parse(res).resItem
                        // console.log(item);
                        var data = JSON.parse(res).resData[0]
                        // console.log(data)
                        var time = new Date(data.pick_up_date)
                        var h = time.getHours()
                        $('#co_upload_date').text(`訂單成立時間${data.co_upload_date.split('T')[0]}`)
                        $('#orderID').text(`訂單編號#${data.o_id}`)
                        $('#phone').text(`${data.phone}`)
                        $('#email').text(`${data.email}`)
                        $('#payment').text(`${data.payment}`)
                        $('#method').text(`${data.pickup_method}`)
                        // $('#time').text(`${data.pick_up_date}`)
                        $('#time').text(`${data.pick_up_date.split('T')[0]} ${h}時後`)
                        $('#remark').text(`${data.remark}`)
                        $('#total').text(`${data.order_total}`)
                        item.forEach((item) => {
                            $(".tbody2").append(`<tr>
                                <td>
                                    <img class='mainPic' src="Source/IMG/${item.img_name}" alt="商品圖">
                                </td>
                                <td>
                                    <p>${item.c_name}</p>
                                    
                                </td>
                                <td></td>
                                <td>
                                    <p>NT$${item.price}</p>
                                </td>
                                <td>
                                    ${item.quantity}
                                </td>
                                <td>
                                    <span>$${item.total}</span>
                                </td>
                               
                            </tr>`);
                        })

                        // location.href = '/C06';

                    },
                    error: function () {
                        alert("系統錯誤!")
                    }
                })
        })

        // function doNewOrder() {
        //     $.ajax({
        //         url: "/buyitem",
        //         type: "GET",
        //         contentType: "application/json; charset=utf-8",
        //         data: JSON.stringify(JSONData),
        //         success: function (res) {
        //             alert("ok");
        //             localStorage.removeItem('carts')
        //             doNewOrder()
        //             // location.href = '/C06';

        //         },
        //         error: function () {
        //             alert("系統錯誤!")
        //         }
        //     })
        // }
    </script>

</body>

</html>