<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="../css/main_ginnychen19.css">
    <link rel="stylesheet" href="../css/BEndOrder.css">
    <link rel="stylesheet" href="../css/customer.css">
    <link rel="stylesheet" href="../css/addCakePic.css">


    <title>菓季後台-商品管理</title>
</head>

<body>
    <div id="BEndleft">
        <div class="BEndnav">
            <div>
                <img src="../Source/IMG/Logo.png">
                <h6>後臺管理系統</h6>
                <p>使用者：abuser</p>
            </div>
            <div>
                <div>
                    <div>
                        <img src="../Source/SVG/commodity_cake.svg">
                        <h6>商品管理</h6>
                    </div>
                    <p1><a href="/commodity">商品列表</a></p1>
                    <!-- <p1><a href="/addimg">商品圖片</a></p1> -->
                    <p1><a href="/additem">新增商品</a></p1>
                </div>
                <div>
                    <div>
                        <img src="../Source/SVG/order.svg">
                        <h6>訂單管理</h6>
                    </div>
                    <p1><a href="/C05_2/1">一般訂單</a></p1>
                    <p1><a href="/C05_3/1">客製訂單</a></p1>
                </div>
                <div>
                    <div>
                        <img src="../Source/SVG/member.svg">
                        <h6>會員相關</h6>
                    </div>
                    <p1><a href="/manage">會員資料</a></p1>
                </div>
                <form action="/logout">
                    <input type="submit" value="登出">
                </form>
            </div>
        </div>
    </div>

    <dialog class="ShowMSG">
        <div class="animate-zoom">
            <div>
                <h6 class="animated ani_infinite">X</h6>
            </div>
            <div>
                <h6 class="msg"></h6>
                <img class="animated ani_infinite pulse" src="">
            </div>
        </div>
    </dialog>

    <div id="BEndright">
        <div id="PMcakeOrder">
            <div>
                <h6>商品列表</h6>
                <div class="search-container">
                    <input type="button" class="search-icon"></input>
                    <input type="text" class="search-input" placeholder="Search...">
                </div>
            </div>
            <table class="Order">
                <thead>
                    <tr>
                        <td>蛋糕ID</td>
                        <td>蛋糕名稱</td>
                        <td>蛋糕價格</td>
                        <td>
                            <!-- 類別 -->
                            <select onchange="doSearch(this.value)" >
                                <option selected="selected">類別</option>
                                <option value="0">當月季節主打</option>
                                <option value="1">彌月蛋糕</option>
                                <option value="2">重乳酪</option>
                                <option value="3">生乳捲</option>
                                <option value="4">配件區</option>
                            </select>
                        </td>
                    </tr>
                </thead>
                <% data.forEach((item,index)=>{ %>
                    <% switch(parseInt(item.c_class)){
                        case 0:
                        var classname = "當月季節主打";
                        break;
                        case 1:
                        var classname = "彌月蛋糕";
                        break;
                        case 2:
                        var classname = "重乳酪";
                        break;
                        case 3:
                        var classname = "生乳捲";
                        break;
                        case 4:
                        var classname = "配件區";
                        break;
                        default:

                    } %>
                    <tbody>
                        <tr class="list">
                            <td>
                                <%= item.c_id %>
                            </td>
                            <td>
                                <%= item.c_name %>
                            </td>
                            <td>
                                <%= item.price %>
                            </td>
                            <td>
                                <%= classname %>
                            </td>
                            <td>
                                <button>修改</button>
                            </td>
                        </tr>
                        <tr class="detail">
                            <td colspan="5">
                                <div class="customer">
                                    <form enctype="multipart/form-data" id="<%=item.c_id %>" >
                                        <div>
                                            <table>
                                                <tr>
                                                    <td>蛋糕ID：</td>
                                                    <td>
                                                        <!-- <textarea cols="40" rows="2" name="illustrate" id=""  required><%= item.illustrate %> </textarea></td> -->
                                                        <input type="text" name="c_id" id="c_id" value="<%=item.c_id %>">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>蛋糕名稱：</td>
                                                    <td><input type="text" name="c_name" value="<%=item.c_name %>"
                                                        required></td>
                                                </tr>
                                                <tr>
                                                    <td>價格：</td>
                                                    <td><input type="number" name="price" value="<%=item.price %>"
                                                        required></td>
                                                </tr>
                                                <tr>
                                                    <td>類別：</td>
                                                    <td>
                                                        <!-- <input type="text" name="c_class" value="<%=item.c_class %>" > -->
                                                        
                                                        <select name="c_class">
                                                            <% if(item.c_class==0){ %>
                                                            <option value="0" selected>當月季節主打</option>
                                                            <%} else{%>
                                                            <option value="0">當月季節主打</option>
                                                            <%}%>
                                                            <% if(item.c_class==1){ %>
                                                            <option value="1" selected>彌月蛋糕</option>
                                                            <%} else{%>
                                                            <option value="1" >彌月蛋糕</option>
                                                            <%}%>
                                                            <% if(item.c_class==2){ %>
                                                            <option value="2" selected>重乳酪</option>
                                                            <%} else{%>
                                                            <option value="2" >重乳酪</option>
                                                            <%}%>
                                                            <% if(item.c_class==3){ %>
                                                            <option value="3" selected>生乳捲</option>
                                                            <%} else{%>
                                                            <option value="3" >生乳捲</option>
                                                            <%}%>
                                                            <% if(item.c_class==4){ %>
                                                            <option value="4" selected>配件區</option>
                                                            <%} else{%>
                                                            <option value="4" >配件區</option>
                                                            <%}%>
                                                        </select>

                                                    </td>
                                                </tr>
                                            </table>
                                            <table>
                                                <tr>
                                                    <td>文案：</td>
                                                    <td>
                                                        <textarea style="resize:none;width:500px;height:150px;"
                                                            name="illustrate" required><%= item.illustrate %></textarea>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                        <div class="pic">
                                            <table>
                                                <tr>
                                                    <td>介紹圖片：</td>
                                                    <td>
                                                        <input type="file" name="img" id="img<%= item.c_id %>0"
                                                            accept="image/*">
                                                        <input type="button" onclick="doUpImg('<%= item.c_id %>',0)"
                                                            value="上傳圖片">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>主要大圖：</td>
                                                    <td>
                                                        <input type="file" name="img" id="img<%= item.c_id %>1"
                                                            accept="image/*">
                                                        <input type="button" onclick="doUpImg('<%= item.c_id %>',1)"
                                                            value="上傳圖片">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>詳細縮圖01：</td>
                                                    <td><input type="file" name="img" id="img<%= item.c_id %>2"
                                                            accept="image/*">
                                                        <input type="button" onclick="doUpImg('<%= item.c_id %>',2)"
                                                            value="上傳圖片">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>詳細縮圖02：</td>
                                                    <td><input type="file" name="img" id="img<%= item.c_id %>3"
                                                            accept="image/*">
                                                        <input type="button" onclick="doUpImg('<%= item.c_id %>',3)"
                                                            value="上傳圖片">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>詳細縮圖03：</td>
                                                    <td><input type="file" name="img" id="img<%= item.c_id %>4"
                                                            accept="image/*">
                                                        <input type="button" onclick="doUpImg('<%= item.c_id %>',4)"
                                                            value="上傳圖片">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>詳細縮圖04：</td>
                                                    <td><input type="file" name="img" id="img<%= item.c_id %>5"
                                                            accept="image/*">
                                                        <input type="button" onclick="doUpImg('<%= item.c_id %>',5)"
                                                            value="上傳圖片">
                                                    </td>
                                                </tr>
                                            </table>

                                            <ul>
                                                <p>圖片名稱：</p>
                                                <li>介紹圖片 &nbsp; &nbsp; &nbsp;<input type="text" readonly
                                                        id="img_0_<%= item.c_id%>" name="img_name"
                                                        value=<%=item.img_name %> ></li>
                                                <li>主要大圖 &nbsp; &nbsp; &nbsp;<input name="img1"
                                                        id="img_1_<%= item.c_id%>" type="text" readonly
                                                        value="<%= item.img1 %>"></li>
                                                <li>詳細縮圖01 <input name="img2" id="img_2_<%= item.c_id%>" type="text"
                                                        readonly value="<%= item.img2 %>"></li>
                                                <li>詳細縮圖02 <input name="img3" id="img_3_<%= item.c_id%>" type="text"
                                                        readonly value="<%= item.img3 %>"></li>
                                                <li>詳細縮圖03 <input name="img4" id="img_4_<%= item.c_id%>" type="text"
                                                        readonly value="<%= item.img4 %>"></li>
                                                <li>詳細縮圖04 <input name="img5" id="img_5_<%= item.c_id%>" type="text"
                                                        readonly value="<%= item.img5 %>"></li>
                                            </ul>

                                        </div>
                                        <div>
                                            <input type="button" class="btn_red" value="刪除商品">
                                            <input type="button" onclick="doUpdata('<%= item.c_id %>')" value="更新資料">
                                        </div>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <% }) %>
                        <tfoot>

                        </tfoot>
            </table>
        </div>
    </div>
    <script src="../js/BEndOrder.js"></script>
    <script src="../js/findNav.js"></script>
    <script src="../js/showDialog.js"></script>
    <script>
        class ShowDialog {
            constructor() {
                this.showDialog_BEnd = $('.ShowMSG');
                this.img = this.showDialog_BEnd.children().children().eq(1).find("img");
                this.h6 = this.showDialog_BEnd.children().children().eq(1).find("h6");
            }

            show(imgUrl, msg) {
                this.showDialog_BEnd.css({ display: "flex", });
                this.img.attr('src', imgUrl);
                this.h6.text(msg);
            }

            /* 任意點擊關閉浮窗 */
            onClickOutside(Needlocation=true) {
                const self = this; // 保存当前上下文
                this.showDialog_BEnd.on("click", function (a) {
                    // console.log(a.target);
                    if ($(a.target).is("div") || $(a.target).is("img") || $(a.target).is("h6.msg")) {
                        return;
                    } else {
                        if (Needlocation) {
                            location.href = '/commodity';
                        }else{
                            self.showDialog_BEnd.css({ display: "none", });
                        }
                    }
                })
                if (location) {
                    setTimeout(() => { location.href = '/commodity'; }, 5000);
                }
            }
        }

        function doUpdata(id) {
            var data = $(`#${id}`).serializeArray();

            var JSONData = { oldId: id };
            for (index in data) {
                JSONData[data[index].name] = data[index].value;
            }

            console.log(JSONData)
            $.ajax({
                url: "/commodity",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(JSONData),
                success: function (res) {
                    // alert(res);

                    /* 後臺頁，更新成功出現浮窗 */
                    const dialog = new ShowDialog();
                    dialog.show("../Source/IMG/rabbit.png", "更新成功");
                    dialog.onClickOutside();
                },
                error: function () {
                    const dialog = new ShowDialog();
                    dialog.show("../Source/IMG/Key-Vision/Rabbit_NO.png", "修改失敗");
                    dialog.onClickOutside();
                }
            })
        }

        function doUpImg(id, index) {
            let file = $('#img' + id + index)[0].files[0];
            console.log(file)
            let formData = new FormData();
            formData.append("img", file);
            $.ajax({
                url: "/upimg",
                type: "POST",
                // contentType: "application/json; charset=utf-8",
                contentType: false,
                processData: false,
                // data: JSON.stringify(JSONData),
                data: formData,
                success: function (res) {
                    // //  alert(res);
                    $(`#img_${index}_${id}`).val(res);

                    // const dialog = new ShowDialog();
                    // dialog.show("../Source/IMG/rabbit.png", "上傳成功");
                    // dialog.onClickOutside(false);

                },
                error: function () {
                    // const dialog = new ShowDialog();
                    // dialog.show("../Source/IMG/Key-Vision/Rabbit_NO.png", "系統錯誤!");
                    // dialog.onClickOutside(false);
                    alert("login 系統錯誤!")
                }
            })

        }

        function doSearch(val){
            location = '/commodity_1/'+val
        }
    </script>
</body>

</html>